body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  user-select: none;
  min-width: 320px;
}

.Container {
  border: 3px solid white;
  width: 25%;
  height: 50%;
  background-color: darkred;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Box {
  border: 1px solid red;
  display: flex;
  height: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}


#Generate {
  border: 3px solid white;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.Pass {
  border: 3px solid white;
  padding: 10px 20px 10px 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}